<div>
	<app-layout>
		<div class="fixed inset-0 z-50 bg-black/60">
			<div class="h-full bg-white shadow-2xl srounded-tl-[50px]">
				<div class="relative z-10 h-full flex">
					<div class="w-[460px] overflow-x-hidden overflow-y-auto">
						<div
							class="h-16 flex items-center px-3 border-b border-neutral-200"
						>
							<button
								class="hover:opacity-100"
								ng-click="collapsedSidebar = !collapsedSidebar"
							>
								<svg
									class="w-6 h-6"
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M6 18L18 6M6 6l12 12"
									/>
								</svg>
							</button>

							<h2 class="text-lg font-medium pl-5">
								Import data to SetHero
							</h2>
						</div>

						<div class="px-3.5 mb-8">
							<collapsible-step
								ng-repeat="step in activeSteps"
								is-last="$last"
								step="{{$index + 1}}"
								heading="{{step.title}}"
								expanded="currentStep == $index + 1"
								completed="completedSteps.includes($index + 1)"
								on-click="setStep"
							>
								<ng-include
									src="'pages/import/partials/' + step.file"
								>
								</ng-include>

								<div
									class="mt-4"
									ng-show="step.errors && step.errors.length"
								>
									<ul>
										<li
											ng-repeat="error in step.errors"
											class="text-sm text-red-500"
										>
											{{ error }}
										</li>
									</ul>
								</div>

								<!-- <div class="mt-6 flex items-center gap-">
									<button
										class="w-full px-4 py-3 bg-primary hover:bg-primary/95 border border-primary text-white text-sm font-medium leading-none rounded focus:outline-none relative overflow-hidden"
										ng-click="setStep(4)"
									>
										Complete
									</button>
								</div> -->

								<div
									class="mt-7 flex items-center gap-2"
									ng-class="{'-ml-4': $index > 0}"
								>
									<button
										ng-show="$index > 0"
										class="px-4 py-2 border border-transparent hover:border-neutral-100 hover:bg-neutral-100 text-neutral-600 text-sm leading-none rounded focus:outline-none relative overflow-hidden"
										ng-click="setStep($index)"
									>
										Previous
									</button>
									<button
										class="px-4 py-2 border border-primary bg-primary text-white hover:bg-primary/90 text-sm leading-none rounded focus:outline-none relative overflow-hidden"
										ng-click="goNext($index + 1)"
									>
										Next
									</button>
								</div>
							</collapsible-step>
						</div>
					</div>

					<div class="flex-1">
						<ng-include
							src="'pages/import/partials/data-preview.html'"
						>
						</ng-include>
					</div>
				</div>
			</div>
		</div>
	</app-layout>
</div>
