<div>
	<div
		class="hidden flex items-center mb-5 -mt-2.5 border-b border-neutral-300/70 gap-4"
	>
		<button
			ng-repeat="choice in importFromKeys"
			class="-mb-px py-3.5 text-sm leading-none font-medium border-b-2 flex items-center justify-center"
			ng-class="{
												'border-accent': vm.importFrom == importFromChoices[choice],
												'border-transparent text-neutral-400 hover:text-neutral-500/90': vm.importFrom != importFromChoices[choice],
											}"
			ng-click="vm.importFrom = importFromChoices[choice]"
		>
			{{choice}}
		</button>
	</div>

	<!-- ng-show="vm.importFrom == 'file'" -->
	<file-picker on-change="processSheet"></file-picker>

	<div ng-show="vm.importFrom == 'google'">
		<form action="#">
			<label
				for=""
				class="inline-block font-medium text-neutral-500 mb-0.5"
			>
				Google Sheet link
			</label>

			<div class="relative flex items-center">
				<input
					type="text"
					class="w-full"
					placeholder="Paste link to google sheet here..."
				/>
				<button
					type="submit"
					class="absolute right-1.5 px-2.5 py-2 bg-white text-neutral-500/80 border border-neutral-300 text-xs font-medium leading-none rounded focus:outline-none"
				>
					Paste link
				</button>
			</div>
		</form>
	</div>

	<div ng-show="vm.importFrom == 'excel'">
		<form action="#">
			<textarea
				type="text"
				class="w-full py-3 px-4"
				rows="6"
				placeholder="Copy data from excel and paste it in here"
			></textarea>
		</form>
	</div>
</div>

<div class="mt-3" ng-if="fileDetails">
	<div
		class="mb-1 bg-white h-12 rounded overflow-hidden border border-neutral-200/80 shadow-sm"
	>
		<div class="relative h-full w-full flex items-center pl-1.5 pr-3">
			<div class="rounded-full h-8 w-8 p-2">
				<img
					class="h-full flex-shrink-0"
					src="assets/img/sheet.svg"
					alt=""
				/>
			</div>

			<div class="ml-1 mr-2 flex-1 text-sm leading-none min-w-0 truncate">
				{{fileDetails.fileName}}
			</div>

			<button
				class="rounded-full bg-gray-100 w-5 h-5 border flex items-center justify-center"
				ng-click="clearSelectedFile()"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.8"
					stroke="currentColor"
					class="w-3.5 h-3.5 text-black"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M6 18L18 6M6 6l12 12"
					/>
				</svg>
			</button>
		</div>
	</div>
</div>
