<div
	class="w-full overflow-x-auto flex items-center -mt-1.5 border-b border-neutral-300/70 gap-5"
>
	<button
		ng-repeat="column in invalidValueKeys"
		class="-mb-px whitespace-nowrap h-10 text-sm leading-none font-medium border-b-2 flex items-center justify-center"
		ng-class="{
			'text-accents border-accent': dataFixColumn == column,
			'border-transparent text-neutral-400 hover:text-neutral-500/90': dataFixColumn != column,
		}"
		ng-click="setDataFixColumn(column)"
	>
		<span
			ng-show="!invalidValues[column].entriesWithErrors.length"
			class="mr-1.5 w-3.5 h-3.5 rounded-full inline-flex items-center justify-center bg-green-500 text-white"
		>
			<svg
				class="w-2.5 h-2.5"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2.8"
			>
				<polyline points="20 6 9 17 4 12"></polyline>
			</svg>
		</span>

		<svg
			ng-show="invalidValues[column].entriesWithErrors.length"
			class="mr-1 w-4 h-4 text-amber-500 inline"
			viewBox="0 0 24 24"
			fill="currentColor"
		>
			<path
				fill-rule="evenodd"
				d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
				clip-rule="evenodd"
			/>
		</svg>

		{{column}}
	</button>
</div>

<p class="py-3.5 text-neutral-500 text-sm">
	<span ng-show="!invalidValues[dataFixColumn].entriesWithErrors.length">
		All invalid {{dataFixColumn}} rows fixed.
	</span>
	<span ng-show="invalidValues[dataFixColumn].entriesWithErrors.length">
		There {{ invalidValues[dataFixColumn].entriesWithErrors.length == 1 ?
		'is' : 'are' }}
		<span class="font-bold"
			>{{invalidValues[dataFixColumn].entriesWithErrors.length}}</span
		>
		invalid {{dataFixColumn}} {{
		invalidValues[dataFixColumn].entriesWithErrors.length == 1 ? 'row' :
		'rows' }} in your data.
	</span>
</p>

<div class="border-2 rounded-md overflow-hidden">
	<div
		class="bg-neutral-200 flex items-center justify-between gap-7 py-2 px-3 text-sm font-medium opacity-60"
	>
		<span class="flex-1">Invalid value</span>
		<span class="flex-1 pl-1"> New value </span>
	</div>

	<div class="border-t divide-y">
		<row-fix
			ng-repeat="entry in invalidValues[dataFixColumn].entries"
			row="entry"
			row-index="$index"
			on-change="updateInvalidValue"
		></row-fix>
	</div>
</div>
